.bg-exodia {
    background-color: #191970;
}

.text-exodia {
    color: #191970;
}

.hr-2 {
    height: 2px;
}

.cust-col{
    display: inline-block;
    margin:1% 4% 0 0;
}

textarea {
    resize: none;
}