<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<header th:replace="~{fragments/header}"></header>
<main class="jumbotron">
    <h1 class="text-center">Create User Profile</h1>
    <form th:action="@{/users/register}" th:method="post" th:object="${userBinding}">
        <div class="form-group mx-auto w-50 text-center" th:classappend="${#fields.hasErrors('username')}?'text-danger'">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" th:field="*{username}" placeholder="Username..."/>
            <small th:each="error:${#fields.errors('username')}" th:text="${error}">
            </small>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 text-center" th:classappend="${#fields.hasErrors('password')}?'text-danger'">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" th:field="*{password}" placeholder="Password..."/>
                <small th:each="error:${#fields.errors('password')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-6 text-center" th:classappend="${#fields.hasErrors('confirmPassword')}?'text-danger'">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-control" type="password" id="confirmPassword" th:field="*{confirmPassword}"
                       placeholder="Confirm Password..."/>
                <small th:each="error:${#fields.errors('confirmPassword')}" th:text="${error}">
                </small>
            </div>
        </div>

        <div class="form-group mx-auto w-50 text-center" th:classappend="${#fields.hasErrors('email')}?'text-danger'">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" th:field="*{email}"
                   placeholder="Your Email..."/>
            <small th:each="error:${#fields.errors('email')}" th:text="${error}">
            </small>
        </div>
        <h2 class="text-center mt-5 md-3">Personal Data</h2>
        <div class="form-row">
            <div class="form-group col-md-2 text-center" th:classappend="${#fields.hasErrors('firstName')}?'text-danger'">
                <label for="title">Title</label>
                <select class="form-control" type="text" id="title" th:field="*{title}">
                    <option selected value="">Choose your title</option>
                    <option th:each="userTitle : ${T(com.bozhilov.boocarep.domain.entities.users.Title).values()}"
                            th:value="${userTitle}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(userTitle))}" >
                    </option>

                </select>
                <small th:each="error:${#fields.errors('firstName')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-5 text-center" th:classappend="${#fields.hasErrors('firstName')}?'text-danger'">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" id="firstName" th:field="*{firstName}"
                       placeholder="First Name..."/>
                <small th:each="error:${#fields.errors('firstName')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-5 text-center" th:classappend="${#fields.hasErrors('lastName')}?'text-danger'">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" id="lastName" th:field="*{lastName}"
                       placeholder="Last Name..."/>
                <small th:each="error:${#fields.errors('lastName')}" th:text="${error}">
                </small>
            </div>
        </div>
        <div class="form-group mx-auto w-50 text-center" th:classappend="${#fields.hasErrors('phoneNumber')}?'text-danger'">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone Number..."/>
            <small th:each="error:${#fields.errors('phoneNumber')}" th:text="${error}">
            </small>
        </div>
        <div class="form-group mx-auto w-50 text-center" th:classappend="${#fields.hasErrors('address')}?'text-danger'">
            <label for="address">Address</label>
            <input class="form-control" type="text" id="address" th:field="*{address}" placeholder="Address..."/>
            <small th:each="error:${#fields.errors('address')}" th:text="${error}">
            </small>
        </div>
        <div class="form-group mx-auto w-50 text-center" th:classappend="${#fields.hasErrors('info')}?'text-danger'">
            <label for="info">Additional Information</label>
            <textarea class="form-control" type="text" id="info" th:field="*{info}" rows="3"
                      placeholder="Additional Information..."></textarea>
            <small th:each="error:${#fields.errors('info')}" th:text="${error}">
            </small>
        </div>

        <div class="form-group mx-auto w-50 text-center">
            <button class="btn bc-background btn-primary w-25">Register</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>