<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FDMC <3</title>
</head>
<body>
    <h1>Welcome to Fluffy Duffy Munchkin Cats</h1>
    <h4>
        Navigate through the application using the links below.
    </h4>
    <hr>
    <ul style="list-style-type: none">
        <li><a href="/cats/create">Create Cat</a></li>
        <li><a href="/cats/all">All Cats</a></li>
    </ul>
</body>
</html>