<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/header}"></header>
    <main class="jumbotron re-background">
        <h1>Project: Resident Evil</h1>
        <hr>
        <p>Resident Evil is a system that register virus spreads across the world.</p>
    </main>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>